<a href="https://colab.research.google.com/github/Pranavigadikoppula/PRANAVI_DATA690/blob/main/Assignment_05/Assignment_05_part8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# PYTHON3 VS PYTHON2

In [1]:
def add_numbers(x, y):
    return x + y

In [4]:
name = "Mary"
print(name)

Mary

In [5]:
age = 30
print(age)

30

In [6]:
print(name, "is", age, "years old")

Mary is 30 years old

In [7]:
type(age)

int

In [8]:
print("Hello unicode")

Hello unicode

In [9]:
type(False)

bool

int, float, str, and bool objects and functions

In [10]:
age_as_string = "28"

In [11]:
type(age_as_string)

str

Functions

In [12]:
def hello():
    return "Hello World"

In [ ]:
result = hello()
result

In [13]:
def add(x, y):
    return x + y

In [14]:
add(2, 3)

5

arithemetic operators

In [15]:
2+7

9

In [16]:
9*9

81

If/else/elif statements
For loops

In [17]:
names = ['Monica', 'Ross', 'Chandler', 'Rachel']
for name in names:
    print(name)

Monica
Ross
Chandler
Rachel

In [18]:
# while loop
count = 0
while count < 3:
    print("Counting...")
    count += 1

Counting...
Counting...
Counting...

In [19]:
#Collections
#Lists
l = [3, 'Hello World', True]
len(l)

l[0]

l[1]

l[-1]
l[-2]

l.append('Python')
l

[3, 'Hello World', True, 'Python']

In [21]:
#Tuples
#Similar to lists, but once created cannot be modified

t = (3, 'Hello World', True)


t[0]

t[-1]

True

In [22]:
#Dictionaries
user = {
    "name": "Mary Smith",
    "email": "mary@example.com",
    "age": 30,
    "subscribed": True
}
user
{'age': 30,
 'email': 'mary@example.com',
 'name': 'Mary Smith',
 'subscribed': True}
user['email']
'mary@example.com'
'age' in user
'last_name' in user
False

False

In [23]:
#Sets
s = {3, 1, 3, 7, 9, 1, 3, 1}
s
{1, 3, 7, 9}


s.add(10)


s.pop()

1

In [24]:
# Iterating collections
l = [3, 'Hello World', True]
for elem in l:
    print(elem)



for key in user:
    print(key.title(), '=>', user[key])

import random
random.randint(0, 99)

3
Hello World
True
Name => Mary Smith
Email => mary@example.com
Age => 30
Subscribed => True

27

In [ ]:
#Exceptions
age = "30"
if age > 21:
    print("Allowed entrance")
try:
    if age > 21:
        print("Allowed entrance")
except:
    print("Something went wrong")
try:
    if age > 21:
        print("Allowed entrance")
except TypeError:
    print("Age is probably of a wrong type")