<a href="https://colab.research.google.com/github/Pranavigadikoppula/PRANAVI_DATA690/blob/main/Assignment_04/inclass_session_04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import random
import re
for i in range(0,10):
    print(end="\n ")
    for j in range(0,10):
        num=random.randint(0,9)
        if (num % 2) == 0:
            print(num, end=" ")
        else:
            strnum = str(num)
            strnum=strnum.replace(strnum,"@")
            print(strnum, end=" ")

 @ @ 0 4 2 @ 6 6 6 @
 @ 8 0 @ @ 2 6 @ @ @
 0 @ 6 8 @ @ 6 @ @ 6
 @ @ @ 2 @ @ @ 0 6 @
 4 8 4 @ @ 0 6 0 0 8
 6 @ @ 2 8 @ @ 8 @ 6
 8 4 0 @ @ 4 @ @ @ @
 @ 2 @ @ @ @ @ @ 0 @
 4 @ @ 0 @ @ @ @ @ 0
 @ 2 0 @ 2 0 @ 4 @ @

In [6]:
numbers=[]     # This list is to hold 100 random numbers
for i in range(100):
    numbers.append(random.randint(0, 9))
print(numbers)
print(len(numbers))

[9, 5, 9, 4, 9, 1, 1, 1, 1, 8, 8, 1, 5, 9, 6, 3, 6, 8, 8, 7, 7, 9, 9, 6, 4, 7, 9, 6, 1, 7, 6, 4, 2, 0, 4, 2, 1, 5, 5, 6, 3, 9, 1, 4, 9, 9, 3, 7, 3, 9, 9, 3, 0, 3, 6, 8, 0, 8, 1, 6, 9, 1, 5, 4, 5, 4, 2, 5, 0, 3, 3, 5, 1, 7, 1, 4, 3, 9, 1, 0, 3, 8, 8, 2, 0, 4, 0, 4, 6, 3, 8, 2, 5, 9, 7, 2, 6, 4, 0, 2]
100

In [7]:
for i in range(0,100,1):
    print("index = ", i, "number= ", numbers[i])

index =  0 number=  9
index =  1 number=  5
index =  2 number=  9
index =  3 number=  4
index =  4 number=  9
index =  5 number=  1
index =  6 number=  1
index =  7 number=  1
index =  8 number=  1
index =  9 number=  8
index =  10 number=  8
index =  11 number=  1
index =  12 number=  5
index =  13 number=  9
index =  14 number=  6
index =  15 number=  3
index =  16 number=  6
index =  17 number=  8
index =  18 number=  8
index =  19 number=  7
index =  20 number=  7
index =  21 number=  9
index =  22 number=  9
index =  23 number=  6
index =  24 number=  4
index =  25 number=  7
index =  26 number=  9
index =  27 number=  6
index =  28 number=  1
index =  29 number=  7
index =  30 number=  6
index =  31 number=  4
index =  32 number=  2
index =  33 number=  0
index =  34 number=  4
index =  35 number=  2
index =  36 number=  1
index =  37 number=  5
index =  38 number=  5
index =  39 number=  6
index =  40 number=  3
index =  41 number=  9
index =  42 number=  1
index =  43 number=  4
index =  44 number=  9
index =  45 number=  9
index =  46 number=  3
index =  47 number=  7
index =  48 number=  3
index =  49 number=  9
index =  50 number=  9
index =  51 number=  3
index =  52 number=  0
index =  53 number=  3
index =  54 number=  6
index =  55 number=  8
index =  56 number=  0
index =  57 number=  8
index =  58 number=  1
index =  59 number=  6
index =  60 number=  9
index =  61 number=  1
index =  62 number=  5
index =  63 number=  4
index =  64 number=  5
index =  65 number=  4
index =  66 number=  2
index =  67 number=  5
index =  68 number=  0
index =  69 number=  3
index =  70 number=  3
index =  71 number=  5
index =  72 number=  1
index =  73 number=  7
index =  74 number=  1
index =  75 number=  4
index =  76 number=  3
index =  77 number=  9
index =  78 number=  1
index =  79 number=  0
index =  80 number=  3
index =  81 number=  8
index =  82 number=  8
index =  83 number=  2
index =  84 number=  0
index =  85 number=  4
index =  86 number=  0
index =  87 number=  4
index =  88 number=  6
index =  89 number=  3
index =  90 number=  8
index =  91 number=  2
index =  92 number=  5
index =  93 number=  9
index =  94 number=  7
index =  95 number=  2
index =  96 number=  6
index =  97 number=  4
index =  98 number=  0
index =  99 number=  2

In [8]:
count = 0
for i in range(10):
    for j in range(10):
        print(numbers[count], " ", end = " ")
        count+=1
    print("\n")

9   5   9   4   9   1   1   1   1   8

8   1   5   9   6   3   6   8   8   7

7   9   9   6   4   7   9   6   1   7

6   4   2   0   4   2   1   5   5   6

3   9   1   4   9   9   3   7   3   9

9   3   0   3   6   8   0   8   1   6

9   1   5   4   5   4   2   5   0   3

3   5   1   7   1   4   3   9   1   0

3   8   8   2   0   4   0   4   6   3

8   2   5   9   7   2   6   4   0   2

In [9]:
sum=0
for n in range (10): #repeats each row 10 times
    for i in range(10): #repeats each integer 10 times
       y=random.randint(0,9)
       sum=sum+ y
       print(y,end=" ") #prints one integer with space at the end
    print( "*",sum,end=" \n")  #starts a new row after each 10 char
    sum=0                     #resets sum to 0 before the next loop

6 8 1 1 3 4 5 1 4 8 * 41
2 3 8 0 1 4 2 7 9 9 * 45
6 4 5 0 9 9 4 6 9 8 * 60
7 1 5 0 5 5 8 8 7 1 * 47
5 2 9 5 8 8 8 0 2 1 * 48
4 5 8 5 8 4 3 3 2 6 * 48
3 7 5 1 8 3 9 4 3 6 * 49
2 6 5 5 9 6 6 6 9 9 * 63
4 2 9 1 9 1 2 7 6 5 * 46
4 2 7 9 3 3 3 1 4 2 * 38

In [10]:

for n in range(10):
    sum = 0
    for i in range(10):
        y = random.randint(0,9)
        sum=sum+y
        print("y", end=" ")
    print("*",sum,end = " \n")

y y y y y y y y y y * 42
y y y y y y y y y y * 33
y y y y y y y y y y * 44
y y y y y y y y y y * 45
y y y y y y y y y y * 38
y y y y y y y y y y * 38
y y y y y y y y y y * 40
y y y y y y y y y y * 25
y y y y y y y y y y * 42
y y y y y y y y y y * 30