<a href="https://colab.research.google.com/github/Pranavigadikoppula/PRANAVI_DATA690/blob/main/Assignment_02/assignment02_practise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Assignment 02

## in class practise

- Name: Pranavi

- Date:02/07/22

In [6]:
import pandas as pd
import plotly.express as px

data_url = "https://raw.githubusercontent.com/DATA-690-SPRING-2022/WANG/main/assignment_02/survey.csv"
df = pd.read_csv(data_url)
df.head(2)

                   Timestamp  ...             12. Other courses taking this semester
0  2022/01/25 5:14:48 PM EST  ...   Introduction to Data Science | DATA 601;SENG 601
1  2022/01/25 5:37:24 PM EST  ...  Introduction to Data Science | DATA 601;Platfo...

[2 rows x 13 columns]

In [ ]:
# data exploration

In [7]:
df.sample(1)

                    Timestamp  ...             12. Other courses taking this semester
23  2022/01/31 6:50:31 PM EST  ...  Intro to Data Analysis and Machine Learning | ...

[1 rows x 13 columns]

In [8]:
df.describe()

                        Timestamp  ...   12. Other courses taking this semester
count                          26  ...                                       26
unique                         26  ...                                       20
top     2022/01/25 5:14:48 PM EST  ...  Introduction to Data Science | DATA 601
freq                            1  ...                                        3

[4 rows x 13 columns]

In [9]:
df.dtypes

Timestamp                                            object
1. My primary educational background                 object
2. My primary job function                           object
3. My level of computer programing knowledge         object
4. My level of Python progrmming knowledge           object
5. My level of Statistics knowledge                  object
6. My Familarity with GitHub                         object
7. My gender                                         object
8. My Birth Year                                     object
9. What do you enjoy doing in your leisure time?     object
10. What do you expect to get out of this course?    object
11. What is your long-term career goal?              object
12. Other courses taking this semester               object
dtype: object

#step 2 data aggregation

In [14]:
df_groupby = df.groupby("2. My Priary job function")["Timestamp"].count().reset_index()
df_groupby

KeyError: ignored

In [ ]:
fig = px.bar(df_groupby, y='Count', x='Job Function', color="Job Function", title='Data 690 Class Job Distribution')
fig.show()

In [ ]:
fig = px.pie(df_groupby, values='Count', names='Job Function', title='Data 690 Class Job Distribution')
fig.show()